@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Lato&family=Poppins&family=Shadows+Into+Light&display=swap');

.auth-shift p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.auth-shift Button {
    background-color: transparent;
    color: blue;
    opacity: 80%;
    border: none;
}

.auth-items {
    border: 0.01px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    /* background-color:  #e9ecef; */
}

.auth-shift {
    margin-top: 2em;
    /* border: 0.5px solid black; */
    background-color:  #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
}

.auth-shift Container{
    padding: 2em;
}


.login-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 1em;
}

Form {
    margin-top: 4em;
}

.login-password {
    margin-top: 10px;
}

.login-password-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.login-email {
    margin-top: 10px;
}

.login-email-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.login-button {
    width: 100%;
}

.login-google {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
}